* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: transparent;
}

a {
  color: black;
  text-decoration: none;
}

:root {
  --morning: rgb(199, 199, 199);
  --evening: #ff977a;
  --night: rgb(19, 17, 37);
  --bg: var(--morning);
}

@font-face {
  font-family: comforta;
  src: url("./fonts/Comfortaa-VariableFont_wght.ttf");
}

body {
  opacity: 0;
  font-family: "comforta", sans-serif;
  background-repeat: no-repeat;
  background: transparent;
  height: 250px;
  width: 450px;
  background: black;
}

main {
  background: linear-gradient(
    white 0%,
    white 50%,
    var(--bg) 50%,
    var(--bg) 100%
  );
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.data {
  background: white;
  width: 300px;
  border: none;
  border-bottom-right-radius: 50%;
  position: relative;
}

.date-location {
  color: rgb(105, 105, 105);
  font-size: 0.8rem;
  display: flex;
  margin: 0.5rem;
}

.title {
  position: absolute;
  bottom: 0;
  width: auto;
  margin: 1rem;
  text-align: left;
  font-weight: 300;
  font-size: 0.6rem;
}

.date-location svg {
  padding: 0;
  height: 0.8rem;
  fill: rgb(105, 105, 105);
}

.forcast {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 1rem 0rem 0rem 1rem;
  color: rgb(105, 105, 105);
}

.forcast p {
  font-weight: 100;
  font-size: 0.7rem;
  padding-bottom: 1rem;
}

.forcast span {
  font-weight: 100;
  font-size: 5rem;
}

.data hr {
  margin: 0rem auto;
  width: 80%;
  background: rgb(214, 214, 214);
  border: none;
  height: 0.1rem;
}

.wind {
  align-items: center;
  font-size: 0.6rem;
  padding: 0.6rem 0rem 0rem 1.5rem;
  color: rgb(105, 105, 105);
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 50%;
  padding: 1rem;
  background: var(--bg);
  overflow: hidden;
}

.logo {
  max-height: 10rem;
}

.logo img {
  padding: 0;
  height: 10rem;
  object-fit: cover;
}
